body {
   position: relative;
   overflow: hidden;
   margin: 0;
   width: 100%;
   height: 100%;
}

#the-button {
   $size: 5;

   position: absolute;
   width: $size * 1vw;
   height: $size * 1vh;
   user-select: none;
}

* {
   user-select: none;
}
