/* You can add global styles to this file, and also import other style files */

html, body { 
   height: 100%;
}

body { 
   margin: 0; 
   font-family: Roboto, "Helvetica Neue", sans-serif;
   background-color: #d4ebff;
}

.error {
   color: red;
   font-size: 2rem;
   font-weight: bold;
}

button {
   &[mat-stroked-button] {
      font-size: 1rem;
      padding: 1rem;
   }
}
