/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
   margin: 0;
   font-family: Roboto, "Helvetica Neue", sans-serif;
   display: flex;
   justify-content: center;
   background-color: rgb(216, 255, 216);
}

.dialog-wrapper {
   width: 75vw;
   height: 75vh;
   background-color: rgb(171, 158, 255);
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 1rem;

   textarea {
      padding: 1rem;
      font-size: 1.1rem;
      width: 80%;
      height: 80%;
   }

   button {
      margin-top: 1rem;
   }
}
